@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
#card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width:300px;
  min-width: 270px;
  height: fit-content;
  margin: 10px;


  border-radius: 10px;

  padding: 5px;
  box-shadow: 2px 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}
#photocontainer {
  height: fit-content;
}
#photo {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}
#container {
  display:flex;
  flex-wrap: wrap;
  max-width: 100vw;
  min-width: 350px;
  align-items: center;
  justify-content: center;

  padding-top: 20px;
  margin: 15px;

  
}

.title {
  border-radius: 0 0 10px 10px;
  text-align: left;
  padding: 5px;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  display: flex;
  font-weight: 800;
  margin-bottom: auto;
}


.title-container .readmorebtn {
  width: 95%;
  margin: 5px;
  display: flex;
 
}
.readmorebtn{
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background-color: #007bff;
  border-color: transparent;
  
}
.loader{
  align-self: center;
  justify-self: center;
  position:absolute;
  top:50%;
  left:50%;
}

