.readmoreimageContainer {
  display: flex;

  height: 30%;
  width: 100%;
}
.image {
  width: 100%;
  height: 60%;
}
.readmore-container {
  margin-top: 55px;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fafafa;
}
.content {
  width: 90%;
  align-self: center;
  font-size: 2em;
  text-align: justify;
}
#heading {
  text-align: left;
  margin: 10px;
}
.button1,
.button2 {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-color: transparent;
  text-align: center;

}
.button1 {
  position: fixed;
  top: 50%;
  left: 20px;
}
.button2 {
  position: fixed;
  top: 50%;
  right: 20px;
}
.learnBtn {
  border-color: transparent;
  text-align: center;
  background-color: aqua;
  color: black;
  width: 65%;
  margin: 15px;
  
  border-radius: 20px;
  box-shadow: 2px 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.learnBtn a {
  text-decoration: none;
  color: black;
}
