.nav-link{
    text-transform: uppercase !important;
    
}
.my-2:hover{
background-color: #fafafa !important;
color:black !important;
}
.navbar-containe{
    display: flex;
    position: relative;
    top: 0;
    flex-wrap: wrap;


}
.my-2{
    background-color:white;
    color: black;

}